*{
    // box-sizing: content-box;
}

.dashboard{
    background: whitesmoke;
}

.dashboard-top {
    padding: 1rem;
  display: flex;
  align-items: center;
}

.dashboard-top-search form {
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.dashboard-top-search input {
  border: none;
  outline: none;
  width: 100%;
  padding: 0.5rem 2rem .5rem 1rem;
}
.dashboard-top-search span {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);

  cursor: pointer;
}
.dashboard-top-content-avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.dashboard-top-content{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
.dashboard-top-content li{
    margin-left: 1rem;
}
.dashboard-top-content-avatar{
    display: flex;
    align-items: center;
}
.dashboard-top-content-avatar span{
    font-weight: 500;
    margin-left: .5rem;
    color: #6b6b6b;
}
.dashboard-top-content-bell{
    font-size: 20px;
    font-weight: 600;
}

/* middle */
.dashboard-middle{
    margin-top: 1rem;
    // display: flex;
    // width: 100%;
}
.dashboard-middle-statistic{
    //  width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // align-items: center;
}
.dashboard-middle-statistic-content{
     width: 24%;
     padding: 1rem;
    //  height: 200px;
    
}

.dashboard-middle-statistic li{
    background: white;
    padding: 70px 0;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    cursor: pointer;
}
.dashboard-middle-statistic-icon{
    font-size: 70px;
    font-weight: 700;
    color: white;

}
.dashboard-middle-statistic-title{
    margin-left: 4rem;

    display: flex;
    flex-direction: column;
}
.dashboard-middle-statistic-title .total{
    font-size: 25px;
    font-weight: 700;
    color: white;
}
.dashboard-middle-statistic-title .title{
    font-size: 20px;
    font-weight: 500;
    color: white;
}


.dashboard-middle-chart{
    width: 97%;
    // padding: 1rem;
    // background: white;
    // border-radius: 30px;
    // margin: 1rem 2rem 1rem 1rem;
    // margin: 1rem 0.5rem 1rem 1rem;
   
    margin-left:  1rem;
    // box-shadow: 0px 8px 24px rgba(#333, 0.2);
    input, select{
        width: 150px;
        background: white;
        border: 1px solid #6b6b6b;
        border-radius: 4px;
        padding: 5px 10px;
    }

    .chart-line{
        background: white;
        border-radius: 20px;
        padding: 1rem;
    }

    .chart-pie{
        background: white;
        border-radius: 20px;
        padding: 1rem;
        .year{
            // transition: all .3s;
            &:hover{
                background: rgb(#6dabe4, 0.2);

            }
            button{
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;

            }
        }
        .month{
            // transition: all .3s;
            &:hover{
                background: rgb(#6dabe4, 0.2);
            }
            button{
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                border-right: 0 ;


            }
        }
        .btn-select{
            margin-bottom: 10px;
            button{
                color: gray;
                border: 1px solid rgb(167, 166, 166);
                padding: 5px 0;
                width: 50px;
            }
           
        }

    }
    
}
.filter-chart-line{
    

    p{
        margin-bottom: 5px;
    }
}
.filter-chart-column{
    p{
        margin-bottom: 5px;
    }
    input, select{
        width: 150px;
        background: white;
        border: 1px solid #6b6b6b;
        border-radius: 4px;
        padding: 5px 10px;
    }
    .from-date{
        margin-right: 40px;
        position: relative;
        &::after{
            content: '\f133';
            font-family: 'FontAwesome';
            position: absolute;
            right: 10px;
            top: 29px;
        }
    }

    .to-date{
        margin-right: 40px;
        position: relative;
        &::after{
            content: '\f133';
            font-family: 'FontAwesome';
            position: absolute;
            right: 10px;
            top: 29px;
        }
    }

    .filter-option{
       
    }
}

.filter-result{
    

    button{
        background: #000b49;
        width: 100px;
        padding: 10px 15px;
        color: white;
        border-radius: 4px;

    }
}
.dashboard-top-customer{
    margin-top: 2rem;
    margin-left: 1rem;
}

.chart-column{
    background: white;
    margin: 1rem;
    border-radius: 30px;
    padding: 1rem;
}

